# Python Package Requirements for Capstone Project
tensorflow==2.5.0
keras==2.3.1
numpy==1.14.5
pandas==0.25.1
scipy==1.4.1
matplotlib==3.1.1
wfdb==2.2.1
h5py==2.10.0
biosppy==0.6.1
scikit-dsp-comm==0.0.5
pyqtgraph==0.10.0
pyqt5==5.14.1

# The following can be installed using: pip install godirect[usb]
# Note that for zsh, square brackets must be enclosed by quotations
godirect==1.0.5
hidapi==0.7.99.post21
pexpect==4.7.0
ptyprocess==0.6.0





